n8n-workflows/content-generation-daily.json
{
  "name": "Instagram - Generación Diaria de Contenido",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Diario 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "notes": "Se ejecuta todos los días a las 9 AM"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_URL || 'http://localhost:3000' }}/api/automation/generate-proposals",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"count\": 3,\n  \"syncFirst\": true,\n  \"competitorsToSync\": 2\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "generate-proposals",
      "name": "Generar Propuestas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "notes": "Llama al endpoint que genera 3 propuestas de contenido"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-success",
      "name": "¿Éxito?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos de las propuestas generadas\nconst data = $input.first().json.data || {};\n\nconst summary = {\n  batchId: data.batchId,\n  proposalsCount: data.proposalsCount || 0,\n  proposals: data.proposals || [],\n  emailSent: data.emailSent || false,\n  approvalUrl: data.approvalUrl,\n  timestamp: new Date().toISOString()\n};\n\n// Generar resumen de propuestas para el log\nsummary.proposalsSummary = summary.proposals.map((p, i) => ({\n  index: i,\n  type: p.type,\n  topic: p.topic,\n  photo: p.photo,\n  engagement_prediction: p.engagement_prediction\n}));\n\nreturn [{ json: summary }];"
      },
      "id": "process-results",
      "name": "Procesar Resultados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 200],
      "notes": "Extrae y formatea los datos de las propuestas"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_URL || 'http://localhost:3000' }}/api/n8n/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow_name\": \"content-generation-daily\",\n  \"execution_id\": \"{{ $execution.id }}\",\n  \"status\": \"success\",\n  \"execution_data\": {{ JSON.stringify($json) }},\n  \"content_generated\": {{ $json.proposalsCount }}\n}"
      },
      "id": "log-success",
      "name": "Registrar Éxito",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 200],
      "notes": "Guarda log de ejecución en Supabase"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "smtpApi",
        "fromEmail": "onboarding@resend.dev",
        "toEmail": "{{ $env.NOTIFICATION_EMAIL || 'vgvtoringana@gmail.com' }}",
        "subject": "✅ {{ $json.proposalsCount }} propuestas de contenido generadas",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 30px; border-radius: 12px 12px 0 0;\">\n    <h1 style=\"color: white; margin: 0;\">✨ Contenido Listo</h1>\n    <p style=\"color: rgba(255,255,255,0.9); margin: 10px 0 0 0;\">{{ $json.proposalsCount }} propuestas generadas automáticamente</p>\n  </div>\n  \n  <div style=\"background: #f8f9fa; padding: 25px; border-radius: 0 0 12px 12px;\">\n    <p style=\"color: #333; margin-bottom: 20px;\">\n      El sistema ha generado <strong>{{ $json.proposalsCount }} propuestas</strong> de contenido basadas en el análisis de tus competidores.\n    </p>\n    \n    <div style=\"background: white; padding: 20px; border-radius: 8px; margin-bottom: 20px;\">\n      <h3 style=\"color: #667eea; margin-top: 0;\">📋 Propuestas:</h3>\n      <ul style=\"color: #555; line-height: 1.8;\">\n        {{ $json.proposalsSummary.map(p => `\n          <li><strong>${p.type.toUpperCase()}</strong>: ${p.topic} \n            <span style=\"background: ${p.engagement_prediction === 'high' ? '#d1fae5' : '#fef3c7'}; color: ${p.engagement_prediction === 'high' ? '#065f46' : '#92400e'}; padding: 2px 8px; border-radius: 4px; font-size: 11px;\">${p.engagement_prediction === 'high' ? 'Alto' : 'Medio'}</span>\n          </li>\n        `).join('') }}\n      </ul>\n    </div>\n    \n    <div style=\"background: #e0e7ff; padding: 15px; border-radius: 8px; margin-bottom: 20px;\">\n      <p style=\"color: #4338ca; margin: 0; font-size: 14px;\">\n        <strong>📧 Revisa tu email principal</strong><br>\n        Te hemos enviado otro email con las 3 propuestas completas (captions, scripts, hashtags) y botones para aprobar.\n      </p>\n    </div>\n    \n    <p style=\"color: #888; font-size: 12px; margin-top: 25px; text-align: center;\">\n      Batch ID: {{ $json.batchId }}<br>\n      {{ $json.timestamp }}\n    </p>\n  </div>\n</div>",
        "options": {}
      },
      "id": "notify-success",
      "name": "Email Confirmación",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1500, 200],
      "credentials": {
        "smtpApi": {
          "id": "resend-smtp",
          "name": "Resend SMTP"
        }
      },
      "notes": "Notifica que las propuestas fueron generadas"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_URL || 'http://localhost:3000' }}/api/n8n/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow_name\": \"content-generation-daily\",\n  \"execution_id\": \"{{ $execution.id }}\",\n  \"status\": \"error\",\n  \"execution_data\": {{ JSON.stringify($json) }}\n}"
      },
      "id": "log-error",
      "name": "Registrar Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 450],
      "notes": "Guarda log de error en Supabase"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "smtpApi",
        "fromEmail": "onboarding@resend.dev",
        "toEmail": "{{ $env.NOTIFICATION_EMAIL || 'vgvtoringana@gmail.com' }}",
        "subject": "❌ Error generando contenido",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <div style=\"background: #ef4444; padding: 30px; border-radius: 12px 12px 0 0;\">\n    <h1 style=\"color: white; margin: 0;\">❌ Error en Generación</h1>\n  </div>\n  \n  <div style=\"background: #fef2f2; padding: 25px; border-radius: 0 0 12px 12px;\">\n    <p style=\"color: #333;\">Se produjo un error al generar las propuestas de contenido.</p>\n    \n    <div style=\"background: white; padding: 15px; border-radius: 8px; margin: 20px 0;\">\n      <h3 style=\"color: #dc2626; margin-top: 0;\">Detalles del error:</h3>\n      <pre style=\"background: #f9fafb; padding: 12px; border-radius: 6px; overflow-x: auto; font-size: 12px;\">{{ JSON.stringify($json, null, 2) }}</pre>\n    </div>\n    \n    <p style=\"color: #666; font-size: 14px;\">\n      Por favor, revisa:\n      <ul>\n        <li>Que tengas competidores activos configurados</li>\n        <li>Que las APIs de OpenAI y Apify estén funcionando</li>\n        <li>Los logs en Supabase (tabla automation_logs)</li>\n      </ul>\n    </p>\n    \n    <p style=\"color: #888; font-size: 12px; margin-top: 25px; text-align: center;\">\n      Execution ID: {{ $execution.id }}<br>\n      {{ new Date().toISOString() }}\n    </p>\n  </div>\n</div>",
        "options": {}
      },
      "id": "notify-error",
      "name": "Email Error",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1250, 450],
      "credentials": {
        "smtpApi": {
          "id": "resend-smtp",
          "name": "Resend SMTP"
        }
      },
      "notes": "Notifica si hubo un error"
    }
  ],
  "connections": {
    "Diario 9 AM": {
      "main": [
        [
          {
            "node": "Generar Propuestas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Propuestas": {
      "main": [
        [
          {
            "node": "¿Éxito?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Éxito?": {
      "main": [
        [
          {
            "node": "Procesar Resultados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registrar Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Resultados": {
      "main": [
        [
          {
            "node": "Registrar Éxito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Éxito": {
      "main": [
        [
          {
            "node": "Email Confirmación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Error": {
      "main": [
        [
          {
            "node": "Email Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "instagram"
    },
    {
      "name": "content-generation"
    }
  ],
  "meta": {
    "instanceId": "instagram-dashboard"
  }
}
