n8n-workflows/instagram-token-renewal-simple.json
{
  "name": "Instagram Token Auto-Renewal [SUPER-SIMPLE]",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 50
            }
          ]
        }
      },
      "name": "Schedule: Every 50 days",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [250, 300],
      "typeVersion": 1.2,
      "id": "schedule-token-renewal"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://instagram-dashboard-ten.vercel.app/api/instagram/auto-renew",
        "options": {
          "timeout": 90000
        }
      },
      "name": "Renew Token + Update Vercel + Redeploy",
      "type": "n8n-nodes-base.httpRequest",
      "position": [450, 300],
      "typeVersion": 4.2,
      "id": "auto-renew-all"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.success}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "position": [650, 300],
      "typeVersion": 2,
      "id": "check-success"
    },
    {
      "parameters": {
        "fromEmail": "onboarding@resend.dev",
        "toEmail": "vgvtoringana@gmail.com",
        "subject": "✅ Token de Instagram renovado AUTOMATICAMENTE",
        "text": "🎉 ¡TOKEN RENOVADO AUTOMATICAMENTE!\n\nEl token de Instagram se renovó y actualizó en Vercel automáticamente.\n\n📊 DETALLES:\n- Expira en: {{$node['Renew Token + Update Vercel + Redeploy'].json.data.token_renewal.expires_in_days}} días\n- Fecha: {{$node['Renew Token + Update Vercel + Redeploy'].json.data.token_renewal.expires_at}}\n- Variable actualizada: {{$node['Renew Token + Update Vercel + Redeploy'].json.data.vercel_update.env_updated}}\n- Redeploy: {{$node['Renew Token + Update Vercel + Redeploy'].json.data.vercel_update.deployment_triggered}}\n\n✅ NO SE REQUIERE NINGUNA ACCION MANUAL\n\nTodo funcionó automáticamente.\n\nDashboard: https://instagram-dashboard-ten.vercel.app\n\n---\nEste email es solo informativo.",
        "options": {}
      },
      "name": "Send Success Email",
      "type": "n8n-nodes-base.emailSend",
      "position": [850, 200],
      "typeVersion": 2.1,
      "credentials": {
        "smtp": {
          "id": "smtp-resend",
          "name": "Resend SMTP"
        }
      },
      "id": "send-success-email"
    },
    {
      "parameters": {
        "fromEmail": "onboarding@resend.dev",
        "toEmail": "vgvtoringana@gmail.com",
        "subject": "❌ ERROR en renovación automática de token",
        "text": "⚠️ ERROR EN LA RENOVACION AUTOMATICA\n\nHubo un error:\n\n{{$node['Renew Token + Update Vercel + Redeploy'].json.error}}\n\n🔧 ACCION REQUERIDA:\nGenera un nuevo token manualmente:\nhttps://instagram-dashboard-ten.vercel.app/setup-token\n\n---\nDashboard: https://instagram-dashboard-ten.vercel.app",
        "options": {}
      },
      "name": "Send Error Email",
      "type": "n8n-nodes-base.emailSend",
      "position": [850, 400],
      "typeVersion": 2.1,
      "credentials": {
        "smtp": {
          "id": "smtp-resend",
          "name": "Resend SMTP"
        }
      },
      "id": "send-error-email"
    }
  ],
  "connections": {
    "Schedule: Every 50 days": {
      "main": [
        [
          {
            "node": "Renew Token + Update Vercel + Redeploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renew Token + Update Vercel + Redeploy": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Send Success Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "automation",
      "id": "auto-tag"
    },
    {
      "name": "instagram",
      "id": "ig-tag"
    },
    {
      "name": "100-automatico",
      "id": "auto-complete-tag"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-18T12:35:00.000Z",
  "versionId": "1"
}
