n8n-workflows/instagram-sync-daily-FIXED.json
{
  "name": "Instagram Sync - Daily (FIXED)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "name": "Schedule Every 24 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/instagram/sync",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "name": "Sync Instagram Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [470, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/n8n/log",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_name",
              "value": "Instagram Sync Daily"
            },
            {
              "name": "execution_id",
              "value": "={{ $execution.id }}"
            },
            {
              "name": "status",
              "value": "={{ $node['Sync Instagram Data'].json.success ? 'success' : 'error' }}"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify($node['Sync Instagram Data'].json) }}"
            },
            {
              "name": "posts_synced",
              "value": "={{ $node['Sync Instagram Data'].json.summary?.sync?.posts_inserted + $node['Sync Instagram Data'].json.summary?.sync?.posts_updated }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "name": "Log to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [690, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node['Sync Instagram Data'].json.success }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check If Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [910, 300]
    },
    {
      "parameters": {
        "fromEmail": "onboarding@resend.dev",
        "toEmail": "vgvtoringana@gmail.com",
        "subject": "✅ Instagram Sync Completed",
        "text": "=Sincronización de Instagram completada exitosamente.\n\nPosts nuevos: {{ $node['Sync Instagram Data'].json.summary.sync.posts_inserted }}\nPosts actualizados: {{ $node['Sync Instagram Data'].json.summary.sync.posts_updated }}\nEngagement rate: {{ $node['Sync Instagram Data'].json.summary.metrics.engagement_rate }}%\nAlcance promedio: {{ $node['Sync Instagram Data'].json.summary.metrics.avg_reach }}\n\nFuente de datos: {{ $node['Sync Instagram Data'].json.summary.data_source }}",
        "options": {}
      },
      "name": "Send Success Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1130, 200],
      "credentials": {
        "smtp": {
          "id": "2",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "onboarding@resend.dev",
        "toEmail": "vgvtoringana@gmail.com",
        "subject": "❌ Instagram Sync Failed",
        "text": "=Error en la sincronización de Instagram.\n\nError: {{ $node['Sync Instagram Data'].json.error || 'Error desconocido' }}\n\nPor favor revisa los logs en el dashboard.",
        "options": {}
      },
      "name": "Send Error Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1130, 400],
      "credentials": {
        "smtp": {
          "id": "2",
          "name": "SMTP account 2"
        }
      }
    }
  ],
  "connections": {
    "Schedule Every 24 Hours": {
      "main": [
        [
          {
            "node": "Sync Instagram Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Instagram Data": {
      "main": [
        [
          {
            "node": "Log to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Supabase": {
      "main": [
        [
          {
            "node": "Check If Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Success": {
      "main": [
        [
          {
            "node": "Send Success Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/New_York",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "tags": []
}
